.video {
	width: 500px;
    margin: 3em auto;
}
.video-tamanho {
    width: 50em;
    height: 30rem;
}

.video {
    display: flex;
    justify-content: center;
}

@media screen {
    
}